<a href="https://colab.research.google.com/github/leesolhahaha/Data_Analysis_with_Python/blob/main/04_%5BPandas%5D_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B0%80%EA%B3%B5%2C_%EC%9D%B8%EB%8D%B1%EC%8A%A4_rename%2C_%EC%B6%94%EA%B0%80%2C_%EC%82%AD%EC%A0%9C(inplace).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./data/titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 인덱스
- 각 행을 대표하는 대푯값
- 원칙적으로는 중복이 되면 안되지만, 판다스에서는 일단 중복을 허용하긴 함

In [ ]:
# 인덱스에 별다른 처리를 하지 않았으면 정수로 이루어진 RangeIndex가 자동으로 생성됨.
df.index

RangeIndex(start=0, stop=891, step=1)

In [ ]:
print(list(df.index))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]

## 인덱스 변경
- 특정 인덱스 변경 - `rename`
- 전체 인덱스 변경 - `index=[인덱스 리스트]`

In [ ]:
df1 = df.copy()
df1.rename(
    {
        0: 'row1',
        1: 'row2'
    }
)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
row1,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
row2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# 전체 인덱스 변경
#  - 인덱스 리스트의 길이가 데이터프레임의 행의 개수(len(df))와 같아야 한다.
sample_index = [ f"{i+1}번째 데이터" for i in range(len(df1))]
print(sample_index)

['1번째 데이터', '2번째 데이터', '3번째 데이터', '4번째 데이터', '5번째 데이터', '6번째 데이터', '7번째 데이터', '8번째 데이터', '9번째 데이터', '10번째 데이터', '11번째 데이터', '12번째 데이터', '13번째 데이터', '14번째 데이터', '15번째 데이터', '16번째 데이터', '17번째 데이터', '18번째 데이터', '19번째 데이터', '20번째 데이터', '21번째 데이터', '22번째 데이터', '23번째 데이터', '24번째 데이터', '25번째 데이터', '26번째 데이터', '27번째 데이터', '28번째 데이터', '29번째 데이터', '30번째 데이터', '31번째 데이터', '32번째 데이터', '33번째 데이터', '34번째 데이터', '35번째 데이터', '36번째 데이터', '37번째 데이터', '38번째 데이터', '39번째 데이터', '40번째 데이터', '41번째 데이터', '42번째 데이터', '43번째 데이터', '44번째 데이터', '45번째 데이터', '46번째 데이터', '47번째 데이터', '48번째 데이터', '49번째 데이터', '50번째 데이터', '51번째 데이터', '52번째 데이터', '53번째 데이터', '54번째 데이터', '55번째 데이터', '56번째 데이터', '57번째 데이터', '58번째 데이터', '59번째 데이터', '60번째 데이터', '61번째 데이터', '62번째 데이터', '63번째 데이터', '64번째 데이터', '65번째 데이터', '66번째 데이터', '67번째 데이터', '68번째 데이터', '69번째 데이터', '70번째 데이터', '71번째 데이터', '72번째 데이터', '73번째 데이터', '74번째 데이터', '75번째 데이터', '76번째 데이터', '77번째 데이터', '78번째 데이터', '79번째 데이터', '80번째 데이터', '81번째 데이터', '82번째 데이터', '83번째 데이터', '84번째 데이터', '85번째 데이터', '86번째 데이터', '87번째 데이터', '88번째 데이터', '89번째 데이터', '90번째 데이터', '91번째 데이터', '92번째 데이터', '93번째 데이터', '94번째 데이터', '95번째 데이터', '96번째 데이터', '97번째 데이터', '98번째 데이터', '99번째 데이터', '100번째 데이터', '101번째 데이터', '102번째 데이터', '103번째 데이터', '104번째 데이터', '105번째 데이터', '106번째 데이터', '107번째 데이터', '108번째 데이터', '109번째 데이터', '110번째 데이터', '111번째 데이터', '112번째 데이터', '113번째 데이터', '114번째 데이터', '115번째 데이터', '116번째 데이터', '117번째 데이터', '118번째 데이터', '119번째 데이터', '120번째 데이터', '121번째 데이터', '122번째 데이터', '123번째 데이터', '124번째 데이터', '125번째 데이터', '126번째 데이터', '127번째 데이터', '128번째 데이터', '129번째 데이터', '130번째 데이터', '131번째 데이터', '132번째 데이터', '133번째 데이터', '134번째 데이터', '135번째 데이터', '136번째 데이터', '137번째 데이터', '138번째 데이터', '139번째 데이터', '140번째 데이터', '141번째 데이터', '142번째 데이터', '143번째 데이터', '144번째 데이터', '145번째 데이터', '146번째 데이터', '147번째 데이터', '148번째 데이터', '149번째 데이터', '150번째 데이터', '151번째 데이터', '152번째 데이터', '153번째 데이터', '154번째 데이터', '155번째 데이터', '156번째 데이터', '157번째 데이터', '158번째 데이터', '159번째 데이터', '160번째 데이터', '161번째 데이터', '162번째 데이터', '163번째 데이터', '164번째 데이터', '165번째 데이터', '166번째 데이터', '167번째 데이터', '168번째 데이터', '169번째 데이터', '170번째 데이터', '171번째 데이터', '172번째 데이터', '173번째 데이터', '174번째 데이터', '175번째 데이터', '176번째 데이터', '177번째 데이터', '178번째 데이터', '179번째 데이터', '180번째 데이터', '181번째 데이터', '182번째 데이터', '183번째 데이터', '184번째 데이터', '185번째 데이터', '186번째 데이터', '187번째 데이터', '188번째 데이터', '189번째 데이터', '190번째 데이터', '191번째 데이터', '192번째 데이터', '193번째 데이터', '194번째 데이터', '195번째 데이터', '196번째 데이터', '197번째 데이터', '198번째 데이터', '199번째 데이터', '200번째 데이터', '201번째 데이터', '202번째 데이터', '203번째 데이터', '204번째 데이터', '205번째 데이터', '206번째 데이터', '207번째 데이터', '208번째 데이터', '209번째 데이터', '210번째 데이터', '211번째 데이터', '212번째 데이터', '213번째 데이터', '214번째 데이터', '215번째 데이터', '216번째 데이터', '217번째 데이터', '218번째 데이터', '219번째 데이터', '220번째 데이터', '221번째 데이터', '222번째 데이터', '223번째 데이터', '224번째 데이터', '225번째 데이터', '226번째 데이터', '227번째 데이터', '228번째 데이터', '229번째 데이터', '230번째 데이터', '231번째 데이터', '232번째 데이터', '233번째 데이터', '234번째 데이터', '235번째 데이터', '236번째 데이터', '237번째 데이터', '238번째 데이터', '239번째 데이터', '240번째 데이터', '241번째 데이터', '242번째 데이터', '243번째 데이터', '244번째 데이터', '245번째 데이터', '246번째 데이터', '247번째 데이터', '248번째 데이터', '249번째 데이터', '250번째 데이터', '251번째 데이터', '252번째 데이터', '253번째 데이터', '254번째 데이터', '255번째 데이터', '256번째 데이터', '257번째 데이터', '258번째 데이터', '259번째 데이터', '260번째 데이터', '261번째 데이터', '262번째 데이터', '263번째 데이터', '264번째 데이터', '265번째 데이터', '266번째 데이터', '267번째 데이터', '268번째 데이터', '269번째 데이터', '270번째 데이터', '271번째 데이터', '272번째 데이터', '273번째 데이터', '274번째 데이터', '275번째 데이터', '276번째 데이터', '277번째 데이터', '278번째 데이터', '279번째 데이터', '280번째 데이터', '281번째 데이터', '282번째 데이터', '283번째 데이터', '284번째 데이터', '285번째 데이터', '286번째 데이터', '287번째 데이터', '288번째 데이터', '289번째 데이터', '290번째 데이터', '291번째 데이터', '292번째 데이터', '293번째 데이터', '294번째 데이터', '295번째 데이터', '296번째 데이터', '297번째 데이터', '298번째 데이터', '299번째 데이터', '300번째 데이터', '301번째 데이터', '302번째 데이터', '303번째 데이터', '304번째 데이터', '305번째 데이터', '306번째 데이터', '307번째 데이터', '308번째 데이터', '309번째 데이터', '310번째 데이터', '311번째 데이터', '312번째 데이터', '313번째 데이터', '314번째 데이터', '315번째 데이터', '316번째 데이터', '317번째 데이터', '318번째 데이터', '319번째 데이터', '320번째 데이터', '321번째 데이터', '322번째 데이터', '323번째 데이터', '324번째 데이터', '325번째 데이터', '326번째 데이터', '327번째 데이터', '328번째 데이터', '329번째 데이터', '330번째 데이터', '331번째 데이터', '332번째 데이터', '333번째 데이터', '334번째 데이터', '335번째 데이터', '336번째 데이터', '337번째 데이터', '338번째 데이터', '339번째 데이터', '340번째 데이터', '341번째 데이터', '342번째 데이터', '343번째 데이터', '344번째 데이터', '345번째 데이터', '346번째 데이터', '347번째 데이터', '348번째 데이터', '349번째 데이터', '350번째 데이터', '351번째 데이터', '352번째 데이터', '353번째 데이터', '354번째 데이터', '355번째 데이터', '356번째 데이터', '357번째 데이터', '358번째 데이터', '359번째 데이터', '360번째 데이터', '361번째 데이터', '362번째 데이터', '363번째 데이터', '364번째 데이터', '365번째 데이터', '366번째 데이터', '367번째 데이터', '368번째 데이터', '369번째 데이터', '370번째 데이터', '371번째 데이터', '372번째 데이터', '373번째 데이터', '374번째 데이터', '375번째 데이터', '376번째 데이터', '377번째 데이터', '378번째 데이터', '379번째 데이터', '380번째 데이터', '381번째 데이터', '382번째 데이터', '383번째 데이터', '384번째 데이터', '385번째 데이터', '386번째 데이터', '387번째 데이터', '388번째 데이터', '389번째 데이터', '390번째 데이터', '391번째 데이터', '392번째 데이터', '393번째 데이터', '394번째 데이터', '395번째 데이터', '396번째 데이터', '397번째 데이터', '398번째 데이터', '399번째 데이터', '400번째 데이터', '401번째 데이터', '402번째 데이터', '403번째 데이터', '404번째 데이터', '405번째 데이터', '406번째 데이터', '407번째 데이터', '408번째 데이터', '409번째 데이터', '410번째 데이터', '411번째 데이터', '412번째 데이터', '413번째 데이터', '414번째 데이터', '415번째 데이터', '416번째 데이터', '417번째 데이터', '418번째 데이터', '419번째 데이터', '420번째 데이터', '421번째 데이터', '422번째 데이터', '423번째 데이터', '424번째 데이터', '425번째 데이터', '426번째 데이터', '427번째 데이터', '428번째 데이터', '429번째 데이터', '430번째 데이터', '431번째 데이터', '432번째 데이터', '433번째 데이터', '434번째 데이터', '435번째 데이터', '436번째 데이터', '437번째 데이터', '438번째 데이터', '439번째 데이터', '440번째 데이터', '441번째 데이터', '442번째 데이터', '443번째 데이터', '444번째 데이터', '445번째 데이터', '446번째 데이터', '447번째 데이터', '448번째 데이터', '449번째 데이터', '450번째 데이터', '451번째 데이터', '452번째 데이터', '453번째 데이터', '454번째 데이터', '455번째 데이터', '456번째 데이터', '457번째 데이터', '458번째 데이터', '459번째 데이터', '460번째 데이터', '461번째 데이터', '462번째 데이터', '463번째 데이터', '464번째 데이터', '465번째 데이터', '466번째 데이터', '467번째 데이터', '468번째 데이터', '469번째 데이터', '470번째 데이터', '471번째 데이터', '472번째 데이터', '473번째 데이터', '474번째 데이터', '475번째 데이터', '476번째 데이터', '477번째 데이터', '478번째 데이터', '479번째 데이터', '480번째 데이터', '481번째 데이터', '482번째 데이터', '483번째 데이터', '484번째 데이터', '485번째 데이터', '486번째 데이터', '487번째 데이터', '488번째 데이터', '489번째 데이터', '490번째 데이터', '491번째 데이터', '492번째 데이터', '493번째 데이터', '494번째 데이터', '495번째 데이터', '496번째 데이터', '497번째 데이터', '498번째 데이터', '499번째 데이터', '500번째 데이터', '501번째 데이터', '502번째 데이터', '503번째 데이터', '504번째 데이터', '505번째 데이터', '506번째 데이터', '507번째 데이터', '508번째 데이터', '509번째 데이터', '510번째 데이터', '511번째 데이터', '512번째 데이터', '513번째 데이터', '514번째 데이터', '515번째 데이터', '516번째 데이터', '517번째 데이터', '518번째 데이터', '519번째 데이터', '520번째 데이터', '521번째 데이터', '522번째 데이터', '523번째 데이터', '524번째 데이터', '525번째 데이터', '526번째 데이터', '527번째 데이터', '528번째 데이터', '529번째 데이터', '530번째 데이터', '531번째 데이터', '532번째 데이터', '533번째 데이터', '534번째 데이터', '535번째 데이터', '536번째 데이터', '537번째 데이터', '538번째 데이터', '539번째 데이터', '540번째 데이터', '541번째 데이터', '542번째 데이터', '543번째 데이터', '544번째 데이터', '545번째 데이터', '546번째 데이터', '547번째 데이터', '548번째 데이터', '549번째 데이터', '550번째 데이터', '551번째 데이터', '552번째 데이터', '553번째 데이터', '554번째 데이터', '555번째 데이터', '556번째 데이터', '557번째 데이터', '558번째 데이터', '559번째 데이터', '560번째 데이터', '561번째 데이터', '562번째 데이터', '563번째 데이터', '564번째 데이터', '565번째 데이터', '566번째 데이터', '567번째 데이터', '568번째 데이터', '569번째 데이터', '570번째 데이터', '571번째 데이터', '572번째 데이터', '573번째 데이터', '574번째 데이터', '575번째 데이터', '576번째 데이터', '577번째 데이터', '578번째 데이터', '579번째 데이터', '580번째 데이터', '581번째 데이터', '582번째 데이터', '583번째 데이터', '584번째 데이터', '585번째 데이터', '586번째 데이터', '587번째 데이터', '588번째 데이터', '589번째 데이터', '590번째 데이터', '591번째 데이터', '592번째 데이터', '593번째 데이터', '594번째 데이터', '595번째 데이터', '596번째 데이터', '597번째 데이터', '598번째 데이터', '599번째 데이터', '600번째 데이터', '601번째 데이터', '602번째 데이터', '603번째 데이터', '604번째 데이터', '605번째 데이터', '606번째 데이터', '607번째 데이터', '608번째 데이터', '609번째 데이터', '610번째 데이터', '611번째 데이터', '612번째 데이터', '613번째 데이터', '614번째 데이터', '615번째 데이터', '616번째 데이터', '617번째 데이터', '618번째 데이터', '619번째 데이터', '620번째 데이터', '621번째 데이터', '622번째 데이터', '623번째 데이터', '624번째 데이터', '625번째 데이터', '626번째 데이터', '627번째 데이터', '628번째 데이터', '629번째 데이터', '630번째 데이터', '631번째 데이터', '632번째 데이터', '633번째 데이터', '634번째 데이터', '635번째 데이터', '636번째 데이터', '637번째 데이터', '638번째 데이터', '639번째 데이터', '640번째 데이터', '641번째 데이터', '642번째 데이터', '643번째 데이터', '644번째 데이터', '645번째 데이터', '646번째 데이터', '647번째 데이터', '648번째 데이터', '649번째 데이터', '650번째 데이터', '651번째 데이터', '652번째 데이터', '653번째 데이터', '654번째 데이터', '655번째 데이터', '656번째 데이터', '657번째 데이터', '658번째 데이터', '659번째 데이터', '660번째 데이터', '661번째 데이터', '662번째 데이터', '663번째 데이터', '664번째 데이터', '665번째 데이터', '666번째 데이터', '667번째 데이터', '668번째 데이터', '669번째 데이터', '670번째 데이터', '671번째 데이터', '672번째 데이터', '673번째 데이터', '674번째 데이터', '675번째 데이터', '676번째 데이터', '677번째 데이터', '678번째 데이터', '679번째 데이터', '680번째 데이터', '681번째 데이터', '682번째 데이터', '683번째 데이터', '684번째 데이터', '685번째 데이터', '686번째 데이터', '687번째 데이터', '688번째 데이터', '689번째 데이터', '690번째 데이터', '691번째 데이터', '692번째 데이터', '693번째 데이터', '694번째 데이터', '695번째 데이터', '696번째 데이터', '697번째 데이터', '698번째 데이터', '699번째 데이터', '700번째 데이터', '701번째 데이터', '702번째 데이터', '703번째 데이터', '704번째 데이터', '705번째 데이터', '706번째 데이터', '707번째 데이터', '708번째 데이터', '709번째 데이터', '710번째 데이터', '711번째 데이터', '712번째 데이터', '713번째 데이터', '714번째 데이터', '715번째 데이터', '716번째 데이터', '717번째 데이터', '718번째 데이터', '719번째 데이터', '720번째 데이터', '721번째 데이터', '722번째 데이터', '723번째 데이터', '724번째 데이터', '725번째 데이터', '726번째 데이터', '727번째 데이터', '728번째 데이터', '729번째 데이터', '730번째 데이터', '731번째 데이터', '732번째 데이터', '733번째 데이터', '734번째 데이터', '735번째 데이터', '736번째 데이터', '737번째 데이터', '738번째 데이터', '739번째 데이터', '740번째 데이터', '741번째 데이터', '742번째 데이터', '743번째 데이터', '744번째 데이터', '745번째 데이터', '746번째 데이터', '747번째 데이터', '748번째 데이터', '749번째 데이터', '750번째 데이터', '751번째 데이터', '752번째 데이터', '753번째 데이터', '754번째 데이터', '755번째 데이터', '756번째 데이터', '757번째 데이터', '758번째 데이터', '759번째 데이터', '760번째 데이터', '761번째 데이터', '762번째 데이터', '763번째 데이터', '764번째 데이터', '765번째 데이터', '766번째 데이터', '767번째 데이터', '768번째 데이터', '769번째 데이터', '770번째 데이터', '771번째 데이터', '772번째 데이터', '773번째 데이터', '774번째 데이터', '775번째 데이터', '776번째 데이터', '777번째 데이터', '778번째 데이터', '779번째 데이터', '780번째 데이터', '781번째 데이터', '782번째 데이터', '783번째 데이터', '784번째 데이터', '785번째 데이터', '786번째 데이터', '787번째 데이터', '788번째 데이터', '789번째 데이터', '790번째 데이터', '791번째 데이터', '792번째 데이터', '793번째 데이터', '794번째 데이터', '795번째 데이터', '796번째 데이터', '797번째 데이터', '798번째 데이터', '799번째 데이터', '800번째 데이터', '801번째 데이터', '802번째 데이터', '803번째 데이터', '804번째 데이터', '805번째 데이터', '806번째 데이터', '807번째 데이터', '808번째 데이터', '809번째 데이터', '810번째 데이터', '811번째 데이터', '812번째 데이터', '813번째 데이터', '814번째 데이터', '815번째 데이터', '816번째 데이터', '817번째 데이터', '818번째 데이터', '819번째 데이터', '820번째 데이터', '821번째 데이터', '822번째 데이터', '823번째 데이터', '824번째 데이터', '825번째 데이터', '826번째 데이터', '827번째 데이터', '828번째 데이터', '829번째 데이터', '830번째 데이터', '831번째 데이터', '832번째 데이터', '833번째 데이터', '834번째 데이터', '835번째 데이터', '836번째 데이터', '837번째 데이터', '838번째 데이터', '839번째 데이터', '840번째 데이터', '841번째 데이터', '842번째 데이터', '843번째 데이터', '844번째 데이터', '845번째 데이터', '846번째 데이터', '847번째 데이터', '848번째 데이터', '849번째 데이터', '850번째 데이터', '851번째 데이터', '852번째 데이터', '853번째 데이터', '854번째 데이터', '855번째 데이터', '856번째 데이터', '857번째 데이터', '858번째 데이터', '859번째 데이터', '860번째 데이터', '861번째 데이터', '862번째 데이터', '863번째 데이터', '864번째 데이터', '865번째 데이터', '866번째 데이터', '867번째 데이터', '868번째 데이터', '869번째 데이터', '870번째 데이터', '871번째 데이터', '872번째 데이터', '873번째 데이터', '874번째 데이터', '875번째 데이터', '876번째 데이터', '877번째 데이터', '878번째 데이터', '879번째 데이터', '880번째 데이터', '881번째 데이터', '882번째 데이터', '883번째 데이터', '884번째 데이터', '885번째 데이터', '886번째 데이터', '887번째 데이터', '888번째 데이터', '889번째 데이터', '890번째 데이터', '891번째 데이터']

In [ ]:
df1.index = sample_index # 0,1,2 ... 이런식으로 올라가는 행 인덱스일 필요는 없다. 바꿔도 됨
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1번째 데이터,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2번째 데이터,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3번째 데이터,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4번째 데이터,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5번째 데이터,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 컬럼(열 인덱스) 변경하기

In [ ]:
# rename을 이용해 특정 열의 이름을 바꿀 수 있다.
df2 = df.copy()
df2.rename(
    columns={
        "PassengerId": "승객번호",
        "Sex": "성별"
    }
)
# 그냥 사용하면 행이 바뀌니까 columns=를 사용해서 열 인덱스를 바꿔줘야 함

,승객번호,Survived,Pclass,Name,성별,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df3 = df.copy()

df3.rename(
    {
        "PassengerId": "승객번호"
    },
    axis=1 # 1이라고 해서 열로 방향을 바꿔주므로 columns=를 쓰지 않아도 열 인덱스가 바뀌게 된다.
    # 1은 열인덱스고 0은 행 인덱스
)

,승객번호,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# columns 전부를 소문자로 바꿔주기
lower_columns = [ col.lower() for col in df.columns ]
lower_columns

['passengerid',
 'survived',
 'pclass',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked']

In [ ]:
df3.columns = lower_columns
df3.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 데이터 추가 / 삭제

## 행의 추가/삭제

In [ ]:
sample_rows = df.loc[[3, 7, 100]]
sample_rows.index = ['추가1', '추가2', '추가3']
sample_rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
추가1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
추가2,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
추가3,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S

In [ ]:
df1 = df.copy()
df1.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df2 = pd.concat([df1, sample_rows])
df2.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
추가1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
추가2,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
추가3,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S

In [ ]:
# concat 사용시 주의 사항
#  반드시 두 데이터프레임의 인덱스의 이름이 같아야 한다.
bad_case_row = df.loc[[3, 7, 100]]
bad_case_row.columns = [1,2,3,4,5,6,7,8,9,10,11,12]
bad_case_row

,1,2,3,4,5,6,7,8,9,10,11,12
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S

In [ ]:
# 인덱스(여기에서는 컬럼의 이름이 인덱스)가 다르면
pd.concat([df1, bad_case_row]) # 매칭된 인덱스가 없으니까 row는 옆으로가서 붙는 거

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,3,4,5,6,7,8,9,10,11,12
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,890.0,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,891.0,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3.0,1.0,349909,21.0750,NaN,S
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,"Petranec, Miss. Matilda",female,28.0,0.0,0.0,349245,7.8958,NaN,S

In [ ]:
# 행 삭제 - drop
df2.drop([1, 2, 4])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
추가1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
추가2,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
추가3,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S

In [ ]:
# 행 중복값 제거
df3 = pd.concat([df2, sample_rows])
df3.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
추가1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
추가2,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
추가3,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
추가1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
추가2,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
추가3,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S

In [ ]:
df4 = df3.drop_duplicates() # 행 중복값 제거
df4.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
# 특정 컬럼에 있었던 중복값을 제거
df3.drop_duplicates(subset=["Embarked"], keep='first') # keep='first'가 기본값 위에있는 것은 살아남고 밑에 중복된 것은 죽는것

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN

In [ ]:
df3.drop_duplicates(subset=["Embarked"], keep='last') # keep="last" 아래쪽에 있던 중복값을 살리게 됨

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
추가3,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S

## 열 추가/삭제

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df1 = df.copy()

df1['나이대'] = df1['Age'] // 10 * 10
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,나이대
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,20.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,30.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,30.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,30.0

In [ ]:
df1['아무컬럼'] = '아무값'

In [ ]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,나이대,아무컬럼
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,20.0,아무값
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,30.0,아무값
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,20.0,아무값
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,30.0,아무값
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,30.0,아무값

In [ ]:
# 좌석등급 컬럼을 추가
#   Pclass가 1이면 최고등급
#   Pclass가 2이면 중간등급
#   Pclass가 3이면 최저등급
# loc만 사용해서 구현하기
df2 = df.copy()

df2.loc[df['Pclass'] == 1, '좌석등급'] = '최고등급'
df2.loc[df['Pclass'] == 2, '좌석등급'] = '중간등급'
df2.loc[df['Pclass'] == 3, '좌석등급'] = '최저등급'

df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,좌석등급
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,최저등급
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,최고등급
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,최저등급
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,최고등급
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,최저등급
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,중간등급
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,최고등급
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,최저등급
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,최고등급
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,최저등급

In [ ]:
# 값 변경은 컬럼 추가와 문법이 똑같다!
df3 = df.copy()
df3['Fare'] = "돈 내!"
df3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,돈 내!,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,돈 내!,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,돈 내!,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,돈 내!,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,돈 내!,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,돈 내!,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,돈 내!,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,돈 내!,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,돈 내!,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,돈 내!,NaN,Q

In [ ]:
# 열 삭제 - drop
df4 = df.copy()
df4.drop("Embarked", axis=1) # 드랍 시 axis=1 은 열을 의미
# 내가 잘못 실행 누름 에러 아님

NameError: name 'df' is not defined

In [ ]:
df4.drop(["PassengerId", "Age"], axis=1)

,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,NaN,Q

# inplace
- 데이터프레임에서 데이터를 변경할 때 사용할 수 있는 옵션.
- `inplace=False`가 기본으로서, 변경이 된 새로운 데이터 프레임이 나온다.
- `inplace=True`로 설정하면 데이터프레임 객체 그 자체가 변경

In [ ]:
# 변형된 사본을 받을 지, 데이터프레임 자체를 변형한 것을 받을 지 두가지를 선택할 수 있음

In [ ]:
# inplace=False일 때
df1 = df.copy()

df1_renamed = df1.rename(
    columns={
        "PassengerId": "승객번호"
    }
)

df1_renamed.head()

,승객번호,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df2 = df.copy()

df2.rename(
    columns={
        "PassengerId": "승객번호"
    },
    inplace=True # 데이터 프레임 자체가 바뀐다.
) # 실행시켜도 아무것도 안나옴 rename을 했다고 해서 나올 값이 있단 건 아님

In [ ]:
df2 # inplace = True 를 썼기에

,승객번호,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q